* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  :root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-varient: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
  
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  
    --transition: all 400ms ease;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-bg);
  }
  
  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
  }
  
  section {
    padding: 6rem 0;
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  h1, h2, h3, h4, h5 {
    line-height: 1.2;
  }
  
  h1 {
    font-size: 2.4rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }
  
  a {
    color: var(--color-white);
  }
  
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
  }
  
  .btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
  }
  
  .btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
  }
  
  /* =========================== NAVBAR ==============================================*/
  #search-box {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    display: flex;
    justify-content:space-between;
  }
  nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
  }
  
  .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__container h4{
    align-items:flex-start;
    margin-left:0px;
  }
  nav button {
   display: none;   /* Don't want to display button where width is more than 1024px */
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    gap:4rem;
  }
  
  .nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
  }
  
  .nav__menu a:hover {
    color: var(--color-bg2);
  }
  
  /* Change Navbar Style on Scroll using JavaScript */
  .window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  .xyz{
    transition: transform 0.1s linear;
  }
  .xyz:hover{
      transform: scale(1.02);
  }
    /* ====================================== FORM ==============================================*/
   
  .cont{
      width: 510px;
      height: 500px;
      margin: 8% auto;
      background: #fff;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
  }
  .cont form{
      width: 470px;
      position: absolute;
      top: 100px;
      left: 20px;
      right: 20px;
      transition: 0.5s
  }
  form input{
      width: 100%;
      padding: 10px 5px;
      margin: 5px 0;
      border: 0;
      border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
  }
  ::placeholder{
      color: #777;
  }
  .btn-box{
      width: 100%;
      margin: 30px auto;
      text-align: center;
  }
  form button{
      width: 110px;
      height: 35px;
      margin: 0 10px;
      background: linear-gradient(to right, #008000,#ffad06);
      border-radius: 30px;
      border: 0;
      outline: none;
      color: #fff;
      cursor: pointer;
  }
  #step2{
      top: 550px;
  }
  #step3{
      top: 550px;
  }
  .step-row{
      width: 510px;
      height: 40px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      box-shadow: 0 -1px 5px -1px #000;
      position: relative;
  }
  .step-col{
      width: 170px;
      text-align: center;
      color: #333;
      position: relative;
  }
  #progress{
      position: absolute;
      height: 100%;
      width: 170px;
      background: linear-gradient(to right, #008000,#ffad06);
      transition: 1s;
  }
  #progress::after{
      content: '';
      height: 0;
      width: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      position: absolute;
      right: -20px;
      top: 0;
      border-left: 20px solid #ffad06;
  } 
    /* ====================================== FORM ==============================================*/
    /* ====================================== FAQs ==============================================*/

.faqs {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  }
  
  .faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
  }
  
  .faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
  }
  
  .faq h4 {
    font-size: 1rem;
    line-height: 2.2;
  }
  
  .faq p {
    margin-top: 0.8rem;
    display: none;
  }
  
  .faq.open p {
    display: block;
  }
  /*====================================  FOOTER ============================ */

footer {
    background: var(--color-bg1);
    padding: 5rem;
    font-size: 0.9rem;
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
  
  .footer__container > div h4 { /* > div : means every direct div inside footer_contaier and then every div h4 */
    margin-bottom: 1.2rem;
  }
  
  .footer__1 p {
    margin: 0 0 2rem;
  }
  
  footer ul li {
    margin-bottom: 0.7rem;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  .footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
 
 /* ====================================  MEDIA QUREIES (TABLETS)  ============================================== */

@media screen and (max-width: 1024px) {
    .container {
      width: var(--container-width-md);
    }
  
    h1 {
      font-size: 2.2rem;
    }
  
    h2 {
      font-size: 1.7rem;
    }
  
    h3 {
      font-size: 1.4rem;
    }
  
    h4 {
      font-size: 1.2rem;
    }
  
    /* ========================== NAVBAR ==================== */
    nav button {
      display: inline-block;
      background: transparent;
      font-size: 1.8rem;
      color: var(--color-white);
      cursor: pointer;
    }
  
    nav button#close-menu-btn {
      display: none;
    }
  
    .nav__menu {
      position: fixed;
      top: 5rem;
      right: 5%;
      height: fit-content;
      width: 18rem;
      flex-direction: column;
      gap:0;
      display: none;
    }
  
    .nav__menu li {
      width: 100%;
      height: 5.8rem;
      animation: animateNavItems 400ms linear forwards;
      transform-origin: top right;
      opacity: 0;
    }
  
    .nav__menu li:nth-child(2) {
      animation-delay: 200ms;
    }
  
    .nav__menu li:nth-child(3) {
      animation-delay: 400ms;
    }
  
    .nav__menu li:nth-child(4) {
      animation-delay: 600ms;
    }
  
    @keyframes animateNavItems {
      0%{
        transform: rotateZ(-90deg) rotateX(90deg) scale(0.1) ;
      }
      100%{
        transform: rotateZ(0) rotateX(0) scale(1);
        opacity: 1;
      }
  }
  
    .nav__menu li a {
      background-color: var(--color-primary);
      box-shadow: -4rem 6rem 10rem rgba(0,0,0, 0.5);
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
    }
    .nav__menu li a:hover {
      background: var(--color-bg2);
      color: var(--color-white);
    }
/* ====================================== FOOTER =============================== */
.footer__container {
    grid-template-columns: 1fr 1fr;
  }
  
  }
     

/* ===========================================  MEDIA QUERIES (PHONES) ============================================== */

@media screen and (max-width:600px){
    .container {
      width: var(--container-width-sm);
    }
    
    /* =================================== NAVBAR ============================= */
    .nav__menu {
      right: 3%;
    }  
    /* =================================== FOOTER ============================= */
.footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  
  .footer__1 p {
    margin: 1rem auto;
  }
  
  .footer__socials {
    justify-content: center;
  }
  }
/*========================================== SLIDER ==============================*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin-top: 110px;
  height: 450px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}