.contact__container {
  background: var(--color-bg1);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 50rem;
  margin: 7rem auto;
  border-radius: 1rem;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-varient: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* =========================== NAVBAR ==============================================*/
#search-box {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  display: flex;
  justify-content:space-between;
}
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__container h4{
  align-items:flex-start;
  margin-left:0px;
}
nav button {
 display: none;   /* Don't want to display button where width is more than 1024px */
}

.nav__menu {
  display: flex;
  align-items: center;
  gap:4rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav__menu a:hover {
  color: var(--color-bg2);
}

/* Change Navbar Style on Scroll using JavaScript */
.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.xyz{
  transition: transform 0.1s linear;
}
.xyz:hover{
    transform: scale(1.02);
}
  
/*====================================  FOOTER ============================ */

footer {
  background: var(--color-bg1);
  padding: 5rem;
  font-size: 0.9rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 { /* > div : means every direct div inside footer_contaier and then every div h4 */
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}


/* ====================================  MEDIA QUREIES (TABLETS)  ============================================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* ========================== NAVBAR ==================== */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap:0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0%{
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1) ;
    }
    100%{
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
}

  .nav__menu li a {
    background-color: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav__menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }
/* ====================================== FOOTER =============================== */
.footer__container {
  grid-template-columns: 1fr 1fr;
}

}
   

/* ===========================================  MEDIA QUERIES (PHONES) ============================================== */

@media screen and (max-width:600px){
  .container {
    width: var(--container-width-sm);
  }
  
  /* =================================== NAVBAR ============================= */
  .nav__menu {
    right: 3%;
  }  
  /* =================================== FOOTER ============================= */
.footer__container {
  grid-template-columns: 1fr;
  text-align: center;
  gap: 2rem;
}

.footer__1 p {
  margin: 1rem auto;
}

.footer__socials {
  justify-content: center;
}
}
/* ===============================  ASIDE ================================== */

.contact__aside {
  background: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
  margin-top: 8rem;
}

.aside__image {
  width: 12rem;
  margin-bottom: 2rem;
}

.contact__aside h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.contact__aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.contact__details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__socials {
  display: flex;
  gap:0.8rem;
  margin-top: 3rem;
}

.contact__socials a {
  background: var(--color-bg2);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  transition: var(--transition);
}

.contact__socials a:hover {
 background: transparent;
}

/* ===============================  FORM ================================== */

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 4rem;
}

.form__name {
  display: flex;
  gap:1.2rem;
}

.contact__form input[type="text"] {
  width: 50%;
}

input, textarea {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-bg);
  color: var(--color-white);
}

.contact__form .btn {
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}

/* ===============================  MEDIA QUERIES (TABLETS) ================================== */

@media screen and (max-width: 1024px) {
  .contact {
    padding-bottom: 0;
  }

.contact__container {
  gap: 1.5rem;
  margin-top: 3rem;
  height: auto;
  padding: 1.5rem;
}

.contact__aside {
  width: auto;
  padding: 1.5rem;
  bottom: 0;
}

.contact__form {
  align-self: center;
  margin-right: 1.5rem;
}
}

/* ===============================  MEDIA QUERIES (PHONES) ================================== */

@media screen and (max-width: 600px) {

.contact__container {
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 0;
  padding: 0;
}

.contact__form {
  margin: 0 1.5rem 3rem;
}

.form__name {
  flex-direction: column;
}

.form__name input[type="text"] {
  width: 100%;
}
}
